.friends-list {
  max-width: 250px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.item {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 15px;

  background-color: #ffff;
  box-shadow: 0 0 20px 0 #ccc;
}

.online {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
}

.offline {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}

.avatar {
  border-radius: 10px;
}
